.image {
  pointer-events: none;
  z-index: 1;
}

.text1 {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.margintop {
  margin-top: 10px;
}

.subtext {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: white;
  white-space: nowrap;
}

.subtext1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  color: white;
  white-space: nowrap;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 3;
}
